* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Breadcrumb styles */
.container-fluid {
    align-content: left;
}

.container-fluid nav[aria-label="breadcrumb"] {
    position: relative;
    top: 0; 
    z-index: 1030;
    background-color: transparent;
    padding: 20px 0 0 20px;
    max-width: max-content;
    width: 50%;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    margin-top: -83px;
    margin-bottom: -30px;
}

.breadcrumb-item a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    color: #AAAAAA;
}

.breadcrumb-item.active {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;   
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}

/* Header Container / Incident Overview */
.header-container{
    font-family: 'Poppins', sans-serif ;
    font-weight: 800 !important;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0;
    color: #484A58 !important;
    width: 265px;
    height: 42px;
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
}

/* Navigation link styles */
.nav-link .menu-text {
    color: #AAAAAA;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.nav-link .icon path {
    fill: #AAAAAA;
}

.nav-link:hover .menu-text,
.nav-link.active .menu-text {
    color: #292D32;
}

.nav-link:hover .icon path,
.nav-link.active .icon path {
    fill: #292D32;
}

.nav-link.active {
    background-color: transparent !important;
    border-left: none !important;
    box-shadow: none !important;
}

.nav-link.active::before {
    content: none !important;
    display: none !important;
    border-left: none !important;
    background: none !important;
    width: 0 !important;
}

.nav-link {
    background-color: transparent !important;
    color: #AAAAAA !important;
    border-left: none !important;
    display: flex;
    align-items: center; 
    min-width: 180px;
}

.nav-link:hover,
.nav-link.active {
    color: #292D32 !important;
}